<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User filter</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">User filter</a>
    <a class="navbar-brand" href="/accepted">Accepted</a>
    <a class="navbar-brand" href="/review">Review</a>
    <a class="navbar-brand" href="/discarded">Discarded</a>
</nav>
