body {
    background-image: url("ant.png");
    background-repeat: repeat;
}

form {
    display: inline-block;
}

.container {
    max-width: 1600px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

table td, table th {
    max-width: 320px;
}